/* [ON BIG SCREEN] */
/* (A) WRAPPER */
#navbar {
    width: 100%;
    background: #A26769;
}

/* (B) HORIZONTAL MENU ITEMS */
#navitems {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navitems img {
    margin-right: 10px;
}

#navitems a {
    flex-grow: 1;
    flex-basis: 0;
    padding: 10px;
    color: white;
    text-decoration: none;
    text-align: center;
    align-items: center;
}

#navitems a:hover {
    background: #af0d0d;
}

#navitems .logo {
    display: flex;
}

#navitems .logo img {
    max-height: 25px;
    max-width: 25px;
}

/* (C) HIDE HAMBURGER */
#navbar label,
#hamburger {
    display: none;
}


@media screen and (min-width: 769px) {
    #navitems a:nth-child(-n+2):hover {
        background-color: #A26769;
    }
}

/* [ON SMALL SCREENS] */
@media screen and (max-width: 768px) {

    /* (A) BREAK INTO VERTICAL MENU */
    #navitems a {
        box-sizing: border-box;
        display: block;
        width: 100%;
        border-top: 1px solid #333;
    }

    #navitems a:nth-child(-n+2) {
        display: none;
    }

    /* (B) SHOW HAMBURGER ICON */
    #navbar label {
        display: inline-block;
        color: white;
        font-style: normal;
        font-size: 1.2em;
        padding: 10px;
    }

    /* (C) TOGGLE SHOW/HIDE MENU */
    #navitems {
        display: none;
    }

    #navbar input:checked~#navitems {
        display: block;
    }
}